In [40]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import sqlite3
from flask import jsonify
import json
import requests

In [32]:
# read csv & clean data
lifecsv = pd.read_csv("Life Expectancy (years) by Country.csv", encoding='latin1')

lifecsv = lifecsv.drop(columns=['Series Name','Series Code'])

lifecsv = lifecsv.rename(columns={'1999 [YR1999]':'1999','2000 [YR2000]':'2000','2001 [YR2001]':'2001','2002 [YR2002]':'2002','2003 [YR2003]':'2003','2004 [YR2004]':'2004','2005 [YR2005]':'2005','2006 [YR2006]':'2006','2007 [YR2007]':'2007','2008 [YR2008]':'2008','2009 [YR2009]':'2009','2010 [YR2010]':'2010','2011 [YR2011]':'2011','2012 [YR2012]':'2012','2013 [YR2013]':'2013','2014 [YR2014]':'2014','2015 [YR2015]':'2015','2016 [YR2016]':'2016','2017 [YR2017]':'2017'})

lifecsv = lifecsv.dropna()

In [33]:
lifecsv.head()

,Country Name,Country Code,1999,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,AFG,54.959,55.482,56.044,56.637,57.25,57.875,58.5,59.11,...,60.243,60.754,61.226,61.666,62.086,62.494,62.895,63.288,63.673,64.047
1,Albania,ALB,73.588,73.955,74.286,74.575,74.82,75.028,75.217,75.418,...,75.943,76.281,76.652,77.031,77.389,77.702,77.963,78.174,78.345,78.495
2,Algeria,DZA,69.822,70.292,70.778,71.276,71.78,72.281,72.767,73.225,...,74.032,74.374,74.676,74.944,75.187,75.418,75.641,75.86,76.078,76.293
3,American Samoa,ASM,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [34]:
engine = create_engine("sqlite:///life.sqlite")
conn = engine.connect()

In [35]:
# lifecsv.to_sql(name='life', con=engine, if_exists='replace', index=True)

In [36]:
inspector = inspect(engine)
inspector.get_table_names()

['life']

In [37]:
data = pd.read_sql("SELECT * FROM life", conn)
data.head()

,id,Country_Name,Country_Code,Yr1999,Yr2000,Yr2001,Yr2002,Yr2003,Yr2004,Yr2005,...,Yr2008,Yr2009,Yr2010,Yr2011,Yr2012,Yr2013,Yr2014,Yr2015,Yr2016,Yr2017
0,0,Afghanistan,AFG,54.959,55.482,56.044,56.637,57.25,57.875,58.5,...,60.243,60.754,61.226,61.666,62.086,62.494,62.895,63.288,63.673,64.047
1,1,Albania,ALB,73.588,73.955,74.286,74.575,74.82,75.028,75.217,...,75.943,76.281,76.652,77.031,77.389,77.702,77.963,78.174,78.345,78.495
2,2,Algeria,DZA,69.822,70.292,70.778,71.276,71.78,72.281,72.767,...,74.032,74.374,74.676,74.944,75.187,75.418,75.641,75.86,76.078,76.293
3,3,American Samoa,ASM,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,4,Andorra,AND,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [10]:
engine = create_engine("sqlite:///life.sqlite")
session = Session(engine)

In [11]:
Base = automap_base()

In [12]:
Base.prepare(engine, reflect=True)

In [13]:
Base.classes.keys()

['life']

In [14]:
columns = inspector.get_columns('life')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
Country_Name TEXT
Country_Code TEXT
Yr1999 FLOAT
Yr2000 FLOAT
Yr2001 FLOAT
Yr2002 FLOAT
Yr2003 FLOAT
Yr2004 FLOAT
Yr2005 FLOAT
Yr2006 FLOAT
Yr2007 FLOAT
Yr2008 FLOAT
Yr2009 FLOAT
Yr2010 FLOAT
Yr2011 FLOAT
Yr2012 FLOAT
Yr2013 FLOAT
Yr2014 FLOAT
Yr2015 FLOAT
Yr2016 FLOAT
Yr2017 FLOAT

In [15]:
Life = Base.classes.life

In [16]:
first_row = session.query(Life).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x19adb4414e0>,
 'Yr1999': 54.959,
 'Yr2015': 63.288,
 'Yr2007': 59.694,
 'Yr2000': 55.482,
 'Yr2016': 63.673,
 'Yr2008': 60.243,
 'Yr2001': 56.044,
 'Yr2017': 64.047,
 'Yr2009': 60.754,
 'Yr2002': 56.637,
 'Yr2010': 61.226,
 'Yr2003': 57.25,
 'Yr2011': 61.666,
 'Yr2004': 57.875,
 'id': 0,
 'Yr2012': 62.086,
 'Yr2005': 58.5,
 'Country_Name': 'Afghanistan',
 'Yr2013': 62.494,
 'Yr2006': 59.11,
 'Country_Code': 'AFG',
 'Yr2014': 62.895}

In [25]:
for row in session.query(Life.Country_Name, Life.Yr1999, Life.Yr2017).limit(15).all():
    print(row)

('Afghanistan', 54.959, 64.047)
('Albania', 73.588, 78.495)
('Algeria', 69.822, 76.293)
('American Samoa', '..', '..')
('Andorra', '..', '..')
('Angola', 46.105, 61.809)
('Antigua and Barbuda', 73.327, 76.519)
('Argentina', 73.618, 76.738)
('Armenia', 70.944, 74.782)
('Aruba', 73.738, 76.01)
('Australia', 78.93170732, 82.49756098)
('Austria', 77.87560976, 81.64146341)
('Azerbaijan', 66.491, 72.123)
('Bahamas, The', 72.093, 75.823)
('Bahrain', 74.239, 77.038)

In [30]:
results = session.query(Life.Country_Name, Life.Country_Code, Life.Yr1999, Life.Yr2000,Life.Yr2001,Life.Yr2002,Life.Yr2003,Life.Yr2004,Life.Yr2005,Life.Yr2006,Life.Yr2007,Life.Yr2008,Life.Yr2009,Life.Yr2010,Life.Yr2011,Life.Yr2012,Life.Yr2013,Life.Yr2014,Life.Yr2015,Life.Yr2016,Life.Yr2017).all()

country_data = []
for name, code, y99, y00, y01, y02, y03, y04, y05, y06,y07,y08,y09,y10,y11,y12,y13,y14,y15,y16,y17 in results:
    country_dict = {}
    country_dict['Country Name'] = name
    country_dict['Country Code'] = code
    country_dict['1999'] = y99
    country_dict['2000'] = y00
    country_dict['2001'] = y01
    country_dict['2002'] = y02
    country_dict['2003'] = y03
    country_dict['2004'] = y04
    country_dict['2005'] = y05
    country_dict['2006'] = y06
    country_dict['2007'] = y07
    country_dict['2008'] = y08
    country_dict['2009'] = y09
    country_dict['2010'] = y10
    country_dict['2011'] = y11
    country_dict['2012'] = y12
    country_dict['2013'] = y13
    country_dict['2014'] = y14
    country_dict['2015'] = y15
    country_dict['2016'] = y16
    country_dict['2017'] = y17
    country_data.append(country_dict)

In [39]:
country_codes = []
for row in data['Country_Code']:
    country_codes.append(row)
country_codes

['AFG',
 'ALB',
 'DZA',
 'ASM',
 'AND',
 'AGO',
 'ATG',
 'ARG',
 'ARM',
 'ABW',
 'AUS',
 'AUT',
 'AZE',
 'BHS',
 'BHR',
 'BGD',
 'BRB',
 'BLR',
 'BEL',
 'BLZ',
 'BEN',
 'BMU',
 'BTN',
 'BOL',
 'BIH',
 'BWA',
 'BRA',
 'VGB',
 'BRN',
 'BGR',
 'BFA',
 'BDI',
 'CPV',
 'KHM',
 'CMR',
 'CAN',
 'CYM',
 'CAF',
 'TCD',
 'CHI',
 'CHL',
 'CHN',
 'COL',
 'COM',
 'COD',
 'COG',
 'CRI',
 'CIV',
 'HRV',
 'CUB',
 'CUW',
 'CYP',
 'CZE',
 'DNK',
 'DJI',
 'DMA',
 'DOM',
 'ECU',
 'EGY',
 'SLV',
 'GNQ',
 'ERI',
 'EST',
 'SWZ',
 'ETH',
 'FRO',
 'FJI',
 'FIN',
 'FRA',
 'PYF',
 'GAB',
 'GMB',
 'GEO',
 'DEU',
 'GHA',
 'GIB',
 'GRC',
 'GRL',
 'GRD',
 'GUM',
 'GTM',
 'GIN',
 'GNB',
 'GUY',
 'HTI',
 'HND',
 'HKG',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'IRN',
 'IRQ',
 'IRL',
 'IMN',
 'ISR',
 'ITA',
 'JAM',
 'JPN',
 'JOR',
 'KAZ',
 'KEN',
 'KIR',
 'PRK',
 'KOR',
 'XKX',
 'KWT',
 'KGZ',
 'LAO',
 'LVA',
 'LBN',
 'LSO',
 'LBR',
 'LBY',
 'LIE',
 'LTU',
 'LUX',
 'MAC',
 'MDG',
 'MWI',
 'MYS',
 'MDV',
 'MLI',
 'MLT',
 'MHL',
 'MRT',
 'MUS',
 'MEX',
 'FSM',
 'MDA',
 'MCO',
 'MNG',
 'MNE',
 'MAR',
 'MOZ',
 'MMR',
 'NAM',
 'NRU',
 'NPL',
 'NLD',
 'NCL',
 'NZL',
 'NIC',
 'NER',
 'NGA',
 'MKD',
 'MNP',
 'NOR',
 'OMN',
 'PAK',
 'PLW',
 'PAN',
 'PNG',
 'PRY',
 'PER',
 'PHL',
 'POL',
 'PRT',
 'PRI',
 'QAT',
 'ROU',
 'RUS',
 'RWA',
 'WSM',
 'SMR',
 'STP',
 'SAU',
 'SEN',
 'SRB',
 'SYC',
 'SLE',
 'SGP',
 'SXM',
 'SVK',
 'SVN',
 'SLB',
 'SOM',
 'ZAF',
 'SSD',
 'ESP',
 'LKA',
 'KNA',
 'LCA',
 'MAF',
 'VCT',
 'SDN',
 'SUR',
 'SWE',
 'CHE',
 'SYR',
 'TJK',
 'TZA',
 'THA',
 'TLS',
 'TGO',
 'TON',
 'TTO',
 'TUN',
 'TUR',
 'TKM',
 'TCA',
 'TUV',
 'UGA',
 'UKR',
 'ARE',
 'GBR',
 'USA',
 'URY',
 'UZB',
 'VUT',
 'VEN',
 'VNM',
 'VIR',
 'PSE',
 'YEM',
 'ZMB',
 'ZWE',
 'ARB',
 'CSS',
 'CEB',
 'EAR',
 'EAS',
 'EAP',
 'TEA',
 'EMU',
 'ECS',
 'ECA',
 'TEC',
 'EUU',
 'FCS',
 'HPC',
 'HIC',
 'IBD',
 'IBT',
 'IDB',
 'IDX',
 'IDA',
 'LTE',
 'LCN',
 'LAC',
 'TLA',
 'LDC',
 'LMY',
 'LIC',
 'LMC',
 'MEA',
 'MNA',
 'TMN',
 'MIC',
 'NAC',
 'INX',
 'OED',
 'OSS',
 'PSS',
 'PST',
 'PRE',
 'SST',
 'SAS',
 'TSA',
 'SSF',
 'SSA',
 'TSS',
 'UMC',
 'WLD']

In [56]:
country_names = []
for row in data['Country_Name']:
    country_names.append(row)
country_names

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Dem. People\x92s Rep.',
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe',
 'Arab World',
 'Caribbean small states',
 'Central Europe and the Baltics',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Middle East & North Africa',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle income',
 'North America',
 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (excluding high income)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Upper middle income',
 'World']

In [59]:
count = 0

income_list = []

for code in country_codes:
    country_code = code
    url = 'http://api.worldbank.org/v2/country/'+ country_code + '?format=json'
    response = requests.get(url).json()
    income_dict = {}
    income_dict['Country_Name'] = country_names[count]
    if response[1][0]['incomeLevel']['value'] != 'Aggregates':
        income_dict['Income_Level'] = response[1][0]['incomeLevel']['value']
        income_list.append(income_dict)
    count +=1
    
income_list

result 0 found
result 1 found
result 2 found
result 3 found
result 4 found
result 5 found
result 6 found
result 7 found
result 8 found
result 9 found
result 10 found
result 11 found
result 12 found
result 13 found
result 14 found
result 15 found
result 16 found
result 17 found
result 18 found
result 19 found
result 20 found
result 21 found
result 22 found
result 23 found
result 24 found
result 25 found
result 26 found
result 27 found
result 28 found
result 29 found
result 30 found
result 31 found
result 32 found
result 33 found
result 34 found
result 35 found
result 36 found
result 37 found
result 38 found
result 39 found
result 40 found
result 41 found
result 42 found
result 43 found
result 44 found
result 45 found
result 46 found
result 47 found
result 48 found
result 49 found
result 50 found
result 51 found
result 52 found
result 53 found
result 54 found
result 55 found
result 56 found
result 57 found
result 58 found
result 59 found
result 60 found
result 61 found
result 62 found
result 63 found
result 64 found
result 65 found
result 66 found
result 67 found
result 68 found
result 69 found
result 70 found
result 71 found
result 72 found
result 73 found
result 74 found
result 75 found
result 76 found
result 77 found
result 78 found
result 79 found
result 80 found
result 81 found
result 82 found
result 83 found
result 84 found
result 85 found
result 86 found
result 87 found
result 88 found
result 89 found
result 90 found
result 91 found
result 92 found
result 93 found
result 94 found
result 95 found
result 96 found
result 97 found
result 98 found
result 99 found
result 100 found
result 101 found
result 102 found
result 103 found
result 104 found
result 105 found
result 106 found
result 107 found
result 108 found
result 109 found
result 110 found
result 111 found
result 112 found
result 113 found
result 114 found
result 115 found
result 116 found
result 117 found
result 118 found
result 119 found
result 120 found
result 121 found
result 122 found
result 123 found
result 124 found
result 125 found
result 126 found
result 127 found
result 128 found
result 129 found
result 130 found
result 131 found
result 132 found
result 133 found
result 134 found
result 135 found
result 136 found
result 137 found
result 138 found
result 139 found
result 140 found
result 141 found
result 142 found
result 143 found
result 144 found
result 145 found
result 146 found
result 147 found
result 148 found
result 149 found
result 150 found
result 151 found
result 152 found
result 153 found
result 154 found
result 155 found
result 156 found
result 157 found
result 158 found
result 159 found
result 160 found
result 161 found
result 162 found
result 163 found
result 164 found
result 165 found
result 166 found
result 167 found
result 168 found
result 169 found
result 170 found
result 171 found
result 172 found
result 173 found
result 174 found
result 175 found
result 176 found
result 177 found
result 178 found
result 179 found
result 180 found
result 181 found
result 182 found
result 183 found
result 184 found
result 185 found
result 186 found
result 187 found
result 188 found
result 189 found
result 190 found
result 191 found
result 192 found
result 193 found
result 194 found
result 195 found
result 196 found
result 197 found
result 198 found
result 199 found
result 200 found
result 201 found
result 202 found
result 203 found
result 204 found
result 205 found
result 206 found
result 207 found
result 208 found
result 209 found
result 210 found
result 211 found
result 212 found
result 213 found
result 214 found
result 215 found
result 216 found
result 217 found
result 218 found
result 219 found
result 220 found
result 221 found
result 222 found
result 223 found
result 224 found
result 225 found
result 226 found
result 227 found
result 228 found
result 229 found
result 230 found
result 231 found
result 232 found
result 233 found
result 234 found
result 235 found
result 236 found
result 237 found
result 238 found
result 239 found
result 240 found
result 241 found
result 242 found
result 243 found
result 244 found
result 245 found
result 246 found
result 247 found
result 248 found
result 249 found
result 250 found
result 251 found
result 252 found
result 253 found
result 254 found
result 255 found
result 256 found
result 257 found
result 258 found
result 259 found
result 260 found
result 261 found
result 262 found
result 263 found

[{'Country_Name': 'Afghanistan', 'Income_Level': 'Low income'},
 {'Country_Name': 'Albania', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Algeria', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'American Samoa', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Andorra', 'Income_Level': 'High income'},
 {'Country_Name': 'Angola', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Antigua and Barbuda', 'Income_Level': 'High income'},
 {'Country_Name': 'Argentina', 'Income_Level': 'High income'},
 {'Country_Name': 'Armenia', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Aruba', 'Income_Level': 'High income'},
 {'Country_Name': 'Australia', 'Income_Level': 'High income'},
 {'Country_Name': 'Austria', 'Income_Level': 'High income'},
 {'Country_Name': 'Azerbaijan', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Bahamas, The', 'Income_Level': 'High income'},
 {'Country_Name': 'Bahrain', 'Income_Level': 'High income'},
 {'Country_Name': 'Bangladesh', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Barbados', 'Income_Level': 'High income'},
 {'Country_Name': 'Belarus', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Belgium', 'Income_Level': 'High income'},
 {'Country_Name': 'Belize', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Benin', 'Income_Level': 'Low income'},
 {'Country_Name': 'Bermuda', 'Income_Level': 'High income'},
 {'Country_Name': 'Bhutan', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Bolivia', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Bosnia and Herzegovina',
  'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Botswana', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Brazil', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'British Virgin Islands', 'Income_Level': 'High income'},
 {'Country_Name': 'Brunei Darussalam', 'Income_Level': 'High income'},
 {'Country_Name': 'Bulgaria', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Burkina Faso', 'Income_Level': 'Low income'},
 {'Country_Name': 'Burundi', 'Income_Level': 'Low income'},
 {'Country_Name': 'Cabo Verde', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Cambodia', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Cameroon', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Canada', 'Income_Level': 'High income'},
 {'Country_Name': 'Cayman Islands', 'Income_Level': 'High income'},
 {'Country_Name': 'Central African Republic', 'Income_Level': 'Low income'},
 {'Country_Name': 'Chad', 'Income_Level': 'Low income'},
 {'Country_Name': 'Channel Islands', 'Income_Level': 'High income'},
 {'Country_Name': 'Chile', 'Income_Level': 'High income'},
 {'Country_Name': 'China', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Colombia', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Comoros', 'Income_Level': 'Low income'},
 {'Country_Name': 'Congo, Dem. Rep.', 'Income_Level': 'Low income'},
 {'Country_Name': 'Congo, Rep.', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Costa Rica', 'Income_Level': 'Upper middle income'},
 {'Country_Name': "Cote d'Ivoire", 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Croatia', 'Income_Level': 'High income'},
 {'Country_Name': 'Cuba', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Curacao', 'Income_Level': 'High income'},
 {'Country_Name': 'Cyprus', 'Income_Level': 'High income'},
 {'Country_Name': 'Czech Republic', 'Income_Level': 'High income'},
 {'Country_Name': 'Denmark', 'Income_Level': 'High income'},
 {'Country_Name': 'Djibouti', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Dominica', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Dominican Republic', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Ecuador', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Egypt, Arab Rep.', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'El Salvador', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Equatorial Guinea', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Eritrea', 'Income_Level': 'Low income'},
 {'Country_Name': 'Estonia', 'Income_Level': 'High income'},
 {'Country_Name': 'Eswatini', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Ethiopia', 'Income_Level': 'Low income'},
 {'Country_Name': 'Faroe Islands', 'Income_Level': 'High income'},
 {'Country_Name': 'Fiji', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Finland', 'Income_Level': 'High income'},
 {'Country_Name': 'France', 'Income_Level': 'High income'},
 {'Country_Name': 'French Polynesia', 'Income_Level': 'High income'},
 {'Country_Name': 'Gabon', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Gambia, The', 'Income_Level': 'Low income'},
 {'Country_Name': 'Georgia', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Germany', 'Income_Level': 'High income'},
 {'Country_Name': 'Ghana', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Gibraltar', 'Income_Level': 'High income'},
 {'Country_Name': 'Greece', 'Income_Level': 'High income'},
 {'Country_Name': 'Greenland', 'Income_Level': 'High income'},
 {'Country_Name': 'Grenada', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Guam', 'Income_Level': 'High income'},
 {'Country_Name': 'Guatemala', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Guinea', 'Income_Level': 'Low income'},
 {'Country_Name': 'Guinea-Bissau', 'Income_Level': 'Low income'},
 {'Country_Name': 'Guyana', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Haiti', 'Income_Level': 'Low income'},
 {'Country_Name': 'Honduras', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Hong Kong SAR, China', 'Income_Level': 'High income'},
 {'Country_Name': 'Hungary', 'Income_Level': 'High income'},
 {'Country_Name': 'Iceland', 'Income_Level': 'High income'},
 {'Country_Name': 'India', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Indonesia', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Iran, Islamic Rep.', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Iraq', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Ireland', 'Income_Level': 'High income'},
 {'Country_Name': 'Isle of Man', 'Income_Level': 'High income'},
 {'Country_Name': 'Israel', 'Income_Level': 'High income'},
 {'Country_Name': 'Italy', 'Income_Level': 'High income'},
 {'Country_Name': 'Jamaica', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Japan', 'Income_Level': 'High income'},
 {'Country_Name': 'Jordan', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Kazakhstan', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Kenya', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Kiribati', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Korea, Dem. People\x92s Rep.',
  'Income_Level': 'Low income'},
 {'Country_Name': 'Korea, Rep.', 'Income_Level': 'High income'},
 {'Country_Name': 'Kosovo', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Kuwait', 'Income_Level': 'High income'},
 {'Country_Name': 'Kyrgyz Republic', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Lao PDR', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Latvia', 'Income_Level': 'High income'},
 {'Country_Name': 'Lebanon', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Lesotho', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Liberia', 'Income_Level': 'Low income'},
 {'Country_Name': 'Libya', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Liechtenstein', 'Income_Level': 'High income'},
 {'Country_Name': 'Lithuania', 'Income_Level': 'High income'},
 {'Country_Name': 'Luxembourg', 'Income_Level': 'High income'},
 {'Country_Name': 'Macao SAR, China', 'Income_Level': 'High income'},
 {'Country_Name': 'Madagascar', 'Income_Level': 'Low income'},
 {'Country_Name': 'Malawi', 'Income_Level': 'Low income'},
 {'Country_Name': 'Malaysia', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Maldives', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Mali', 'Income_Level': 'Low income'},
 {'Country_Name': 'Malta', 'Income_Level': 'High income'},
 {'Country_Name': 'Marshall Islands', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Mauritania', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Mauritius', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Mexico', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Micronesia, Fed. Sts.',
  'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Moldova', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Monaco', 'Income_Level': 'High income'},
 {'Country_Name': 'Mongolia', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Montenegro', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Morocco', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Mozambique', 'Income_Level': 'Low income'},
 {'Country_Name': 'Myanmar', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Namibia', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Nauru', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Nepal', 'Income_Level': 'Low income'},
 {'Country_Name': 'Netherlands', 'Income_Level': 'High income'},
 {'Country_Name': 'New Caledonia', 'Income_Level': 'High income'},
 {'Country_Name': 'New Zealand', 'Income_Level': 'High income'},
 {'Country_Name': 'Nicaragua', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Niger', 'Income_Level': 'Low income'},
 {'Country_Name': 'Nigeria', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'North Macedonia', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Northern Mariana Islands', 'Income_Level': 'High income'},
 {'Country_Name': 'Norway', 'Income_Level': 'High income'},
 {'Country_Name': 'Oman', 'Income_Level': 'High income'},
 {'Country_Name': 'Pakistan', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Palau', 'Income_Level': 'High income'},
 {'Country_Name': 'Panama', 'Income_Level': 'High income'},
 {'Country_Name': 'Papua New Guinea', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Paraguay', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Peru', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Philippines', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Poland', 'Income_Level': 'High income'},
 {'Country_Name': 'Portugal', 'Income_Level': 'High income'},
 {'Country_Name': 'Puerto Rico', 'Income_Level': 'High income'},
 {'Country_Name': 'Qatar', 'Income_Level': 'High income'},
 {'Country_Name': 'Romania', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Russian Federation', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Rwanda', 'Income_Level': 'Low income'},
 {'Country_Name': 'Samoa', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'San Marino', 'Income_Level': 'High income'},
 {'Country_Name': 'Sao Tome and Principe',
  'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Saudi Arabia', 'Income_Level': 'High income'},
 {'Country_Name': 'Senegal', 'Income_Level': 'Low income'},
 {'Country_Name': 'Serbia', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Seychelles', 'Income_Level': 'High income'},
 {'Country_Name': 'Sierra Leone', 'Income_Level': 'Low income'},
 {'Country_Name': 'Singapore', 'Income_Level': 'High income'},
 {'Country_Name': 'Sint Maarten (Dutch part)', 'Income_Level': 'High income'},
 {'Country_Name': 'Slovak Republic', 'Income_Level': 'High income'},
 {'Country_Name': 'Slovenia', 'Income_Level': 'High income'},
 {'Country_Name': 'Solomon Islands', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Somalia', 'Income_Level': 'Low income'},
 {'Country_Name': 'South Africa', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'South Sudan', 'Income_Level': 'Low income'},
 {'Country_Name': 'Spain', 'Income_Level': 'High income'},
 {'Country_Name': 'Sri Lanka', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'St. Kitts and Nevis', 'Income_Level': 'High income'},
 {'Country_Name': 'St. Lucia', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'St. Martin (French part)', 'Income_Level': 'High income'},
 {'Country_Name': 'St. Vincent and the Grenadines',
  'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Sudan', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Suriname', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Sweden', 'Income_Level': 'High income'},
 {'Country_Name': 'Switzerland', 'Income_Level': 'High income'},
 {'Country_Name': 'Syrian Arab Republic', 'Income_Level': 'Low income'},
 {'Country_Name': 'Tajikistan', 'Income_Level': 'Low income'},
 {'Country_Name': 'Tanzania', 'Income_Level': 'Low income'},
 {'Country_Name': 'Thailand', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Timor-Leste', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Togo', 'Income_Level': 'Low income'},
 {'Country_Name': 'Tonga', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Trinidad and Tobago', 'Income_Level': 'High income'},
 {'Country_Name': 'Tunisia', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Turkey', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Turkmenistan', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Turks and Caicos Islands', 'Income_Level': 'High income'},
 {'Country_Name': 'Tuvalu', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Uganda', 'Income_Level': 'Low income'},
 {'Country_Name': 'Ukraine', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'United Arab Emirates', 'Income_Level': 'High income'},
 {'Country_Name': 'United Kingdom', 'Income_Level': 'High income'},
 {'Country_Name': 'United States', 'Income_Level': 'High income'},
 {'Country_Name': 'Uruguay', 'Income_Level': 'High income'},
 {'Country_Name': 'Uzbekistan', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Vanuatu', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Venezuela, RB', 'Income_Level': 'Upper middle income'},
 {'Country_Name': 'Vietnam', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Virgin Islands (U.S.)', 'Income_Level': 'High income'},
 {'Country_Name': 'West Bank and Gaza', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Yemen, Rep.', 'Income_Level': 'Low income'},
 {'Country_Name': 'Zambia', 'Income_Level': 'Lower middle income'},
 {'Country_Name': 'Zimbabwe', 'Income_Level': 'Low income'}]